<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>PreProject Spring Bootstrap</title>
</head>

<body>

<nav class="navbar navbar-dark bg-dark">
    <h5>
        <a class="navbar-text text-white font-weight-bold" th:text="${principal.username}">Username</a>
        <a class="navbar-text text-white" th:text=" ' with roles : ' + ${principal.roles}">Roles</a>
        </a>
    </h5>
    <form th:action="@{/logout}" method="post">
        <button class="btn btn-link btn-xs">
            <p class="text-muted">Logout</p>
        </button>
    </form>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#user">User</a>
                </li>
            </ul>
        </div>

        <div class="col-md-10 bg-light">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="admin">
                    <h1>Admin panel</h1>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#users">Users table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#new_user">New User</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="users">
                            <div class="card-header">
                                <h5 class="card-title">All users</h5>
                            </div>
                            <div class="card-body">
                                <table class="table table-hover">
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Second name</th>
                                        <th>Age</th>
                                        <th>Username</th>
                                        <th>Role</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    <th:block th:each="user : ${users}">
                                        <tr>
                                            <td th:text="${user.id}"></td>
                                            <td th:text="${user.name}"></td>
                                            <td th:text="${user.lastname}"></td>
                                            <td th:text="${user.age}"></td>
                                            <td th:text="${user.username}"></td>
                                            <td th:text="${user.roles}"></td>
                                            <td>
                                                <button class="btn btn-info" data-toggle="modal" th:data-target="'#edit'+${user.id}">Edit</button>
                                                <div class="modal fade" th:id="'edit'+${user.id}">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title">Edit user</h4>
                                                                <button class="close" data-dismiss="modal">x</button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form method="post" th:action="@{/admin/{id}/edit(id=${user.id})}" th:object="${user}">
                                                                    <div class="container-fluid bg-white">
                                                                        <div class="row">
                                                                            <div class="col-md-3"></div>
                                                                            <div class="col-md-6">
                                                                                <div class="form-group text-center">
                                                                                    <label class="font-weight-bold" for="name">Name</label>
                                                                                    <input name="name" class="form-control" type="text" th:value="${user.name}">
                                                                                </div>
                                                                                <div class="form-group text-center">
                                                                                    <label class="font-weight-bold" for="lastname">LastName</label>
                                                                                    <input name="lastname" class="form-control" type="text" th:value="${user.lastname}">
                                                                                </div>
                                                                                <div class="form-group text-center">
                                                                                    <label class="font-weight-bold" for="age">Age</label>
                                                                                    <input name="age" class="form-control" type="number" th:value="${user.age}">
                                                                                </div>
                                                                                <div class="form-group text-center">
                                                                                    <label class="font-weight-bold" for="username">UserName</label>
                                                                                    <input name="username" class="form-control" type="text" th:value="${user.username}">
                                                                                </div>
                                                                                <div class="form-group text-center">
                                                                                    <label class="font-weight-bold" for="password">Password</label>
                                                                                    <input name="password" class="form-control" type="text" th:value="${user.password}">
                                                                                </div>
                                                                                <div class="form-group text-center">
                                                                                    <label class="font-weight-bold">User role </label>
                                                                                    <input type="checkbox" name="userRole" th:checked="${user.isUser()}">
                                                                                    <label class="font-weight-bold">Admin role </label>
                                                                                    <input type="checkbox" name="adminRole" th:checked="${user.isAdmin()}">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                        <button type="submit" class="btn btn-primary">Edit</button>
                                                                    </div>
                                                                </form>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </td>

                                            <td>
                                                <button class="btn btn-danger" data-toggle="modal" th:data-target="'#delete'+${user.id}">Delete</button>
                                                <div class="modal fade" th:id="'delete'+${user.id}">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title">Delete user</h4>
                                                                <button class="close" data-dismiss="modal">x</button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form method="post" th:action="@{/admin/{id}/delete(id=${user.id})}" th:object="${user}">
                                                                    <div class="container-fluid bg-white">
                                                                        <div class="row">
                                                                            <div class="col-md-3"></div>
                                                                            <div class="col-md-6">
                                                                                <div class="form-group text-center">
                                                                                    <label class="font-weight-bold" for="name">Name</label>
                                                                                    <input name="name" class="form-control" type="text" th:value="${user.name}" disabled>
                                                                                </div>
                                                                                <div class="form-group text-center">
                                                                                    <label class="font-weight-bold" for="lastname">LastName</label>
                                                                                    <input name="lastname" class="form-control" type="text" th:value="${user.lastname}" disabled>
                                                                                </div>
                                                                                <div class="form-group text-center">
                                                                                    <label class="font-weight-bold" for="age">Age</label>
                                                                                    <input name="age" class="form-control" type="number" th:value="${user.age}" disabled>
                                                                                </div>
                                                                                <div class="form-group text-center">
                                                                                    <label class="font-weight-bold" for="username">UserName</label>
                                                                                    <input name="username" class="form-control" type="text" th:value="${user.username}" disabled>
                                                                                </div>
                                                                                <div class="form-group text-center">
                                                                                    <label class="font-weight-bold">User role </label>
                                                                                    <input type="checkbox" name="userRole" th:checked="${user.isUser()}" disabled>
                                                                                    <label class="font-weight-bold">Admin role </label>
                                                                                    <input type="checkbox" name="adminRole" th:checked="${user.isAdmin()}" disabled>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                        <button type="submit" class="btn btn-danger">Delete</button>
                                                                    </div>
                                                                </form>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </th:block>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="new_user">
                            <div class="card-header">
                                <h5 class="card-title">New User</h5>
                            </div>
                            <div class="container-fluid bg-white">
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4">
                                        <form method="post" action="/admin/newuser">
                                            <div class="form-group text-center">
                                                <label class="font-weight-bold" for="name">Name</label>
                                                <input name="name" class="form-control" type="text" id="name">
                                            </div>
                                            <div class="form-group text-center">
                                                <label class="font-weight-bold" for="lastname">LastName</label>
                                                <input name="lastname" class="form-control" type="text" id="lastname">
                                            </div>
                                            <div class="form-group text-center">
                                                <label class="font-weight-bold" for="age">Age</label>
                                                <input name="age" class="form-control" type="number" id="age">
                                            </div>
                                            <div class="form-group text-center">
                                                <label class="font-weight-bold" for="username">UserName</label>
                                                <input name="username" class="form-control" type="text" id="username">
                                            </div>
                                            <div class="form-group text-center">
                                                <label class="font-weight-bold" for="password">Password</label>
                                                <input name="password" class="form-control" type="text" id="password">
                                            </div>
                                            <div class="form-group text-center">
                                                <tr>
                                                    <td>
                                                        <label class="font-weight-bold">User role </label>
                                                        <input type="checkbox" name="userRole">
                                                    </td>
                                                    <td>
                                                        <label class="font-weight-bold">Admin role </label>
                                                        <input type="checkbox" name="adminRole">
                                                    </td>
                                                </tr>
                                            </div>
                                            <div class="text-center">
                                                <button type="submit" class="btn btn-success btn-lg">Add new User</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pab-pane fade" id="user">
                    <h1>User panel</h1>
                    <div class="card-header">
                        <h5 class="card-title">About user</h5>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Second name</th>
                                <th>Age</th>
                                <th>Username</th>
                                <th>Role</th>
                            </tr>
                            <tr>
                                <td th:text="${principal.id}"></td>
                                <td th:text="${principal.name}"></td>
                                <td th:text="${principal.lastname}"></td>
                                <td th:text="${principal.age}"></td>
                                <td th:text="${principal.username}"></td>
                                <td th:text="${principal.roles}"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

</body>
</html>